:root {
    --primary-color: #00D307;
    --primary-dark-color: #00a005;
    --primary-light-color: #9aff9d;
    --grey: #808080;
    --light-grey: #D3D3D3;
    --lighter-grey: #F2F2F2;
    --white: #FFFFFF;
    --black: #000000;
    --mid-grey: #666A6D;
    --dark-medium-grey: #A9A9A9;
    --background: #FBFBFE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", serif;
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }

@media screen and (max-width:481px) { 

/* ============================================GENERAL============================================== */

.container-20 {
    border-radius: 20px;
}

.container-50 {
    border-radius: 50%;
}



/* ============================================HEADER============================================== */
.header {
    width: 100%;
    display: flex;
    padding: 10px 20px;
    border-bottom: 2px solid var(--light-grey);
}

.header .logo {
    font-size: 25px;
    color: var(--primary-color);
}

.header .icon-container {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 5px;

}

.header .icon-container:active {
    background: var(--light-grey);
    color: var(--primary-light-color);
}

.header .icon-container span {
    font-size: 25px;
    color: var(--primary-color);
}

/* ============================================WEATHER============================================== */

.informations {
    width: 100%;
    padding: 10px 15px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.informations  .weather-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    padding:  10px 20px;
}

.informations .weather-info .info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--white);
    max-width: 135px;
}

.informations .weather-info .info .location {
    font-size: 10px;
}

.informations .weather-info .info .temperature {
    font-size: 36px;
}

.informations .weather-info .image-container {
    height: 80px;
    width: 80px;
    overflow: hidden;
    margin-left: auto;
}

.informations .weather-info .image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* ============================================CARDS============================================== */

.informations .cards-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.informations .cards-container .container-20 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 48%;
    min-width: 160px;
    background: var(--lighter-grey);
    border: 2px solid var(--mid-grey);
    padding: 15px;
}

.informations .cards-container .container-20 span {
    font-size: 45px;
    color: rgb(98, 98, 255); 
}

.informations .cards-container .container-20 .ph {
    color: orange;
}

.informations .cards-container .container-20 .moisture {
    color: var(--primary-color);
}

.informations .cards-container .container-20 .card-info .title {
    font-size: 16px;
}

.informations .cards-container .container-20 .card-info .number {
    color: var(--mid-grey);
}

/* ============================================my plants============================================== */

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container .heading {
    font-size: 16px;
}

.container .my-plants {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.container .plants-card-container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 15px;
    margin-left: 10px;
    overflow-x: auto;
    
}

.container .plants-card-container .container-50 {
    border: 2px solid var(--mid-grey);
    height: 60px;
    min-width: 60px;
    overflow: hidden;
    padding: 5px;
}

.container .plants-card-container .container-50 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.container .my-plants .icon-container {
    border-radius: 50%;
    background: var(--primary-color);
    height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    margin: 0 10px;

}

.container .my-plants .icon-container:active {
    background: var(--primary-dark-color);
    color: var(--light-grey);
}

/* ===========================================inspect for diseases============================================== */

.inspect-diseases {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inspect-diseases .container-20 {
    border: 2px solid var(--dark-medium-grey);
    background: var(--lighter-grey);
    padding: 10px;
}

.inspect-diseases .container-20 .headings {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.inspect-diseases .container-20 .headings .texts {
    display: flex;
    flex-direction: column;
}

.inspect-diseases .container-20 .headings .texts .heading1 {
    font-size: 24px;
    color: var(--grey);
}

.inspect-diseases .container-20 .headings .texts .heading {
    font-size: 12px;
    color: var(--mid-grey);
}

.inspect-diseases .container-20 .headings .image-container {
    height: 120px;
    width: 120px;
    overflow: hidden;
}

.inspect-diseases .container-20 .headings .image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.inspect-diseases .container-20 .button-container .button {
    width: 100%;
    border-radius: 25px;
    background: var(--primary-color);
    display: flex;
    padding: 10px 20px;
}

.inspect-diseases .container-20 .button-container .button:active {
    background: var(--primary-dark-color);
    color: var(--light-grey);
}

.inspect-diseases .container-20 .button-container .button .text {
    color: var(--white);
    font-size: 16px;
    width: 100%;
}

.inspect-diseases .container-20 .button-container .button span {
    font-size: 25px;
    color: var(--white);
}

.camera-btn {
    background: var(--primary-color);
    width: fit-content;
    height: fit-content;
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px 0 0 25px;
    box-shadow: 0px 4px 15px 5px rgba(0, 0, 0, 0.2);

}

.camera-btn:active {
    background: var(--primary-dark-color);
    color: var(--light-grey);
    box-shadow: 0 var(--background);
}

.camera-btn span {
    color: var(--white);
    font-size: 40px;
}

/* ===========================================inspect for diseases============================================== */

.navigation {
    border-top: 2px solid var(--dark-medium-grey) ;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.navigation .nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}

.navigation .nav-item .text {
    font-size: 16px;
}

.navigation .nav-item span {
    font-size: 25px;
}

.navigation .nav-item:active {
    color: var(--dark-medium-grey);
}
    



}